<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <packageSources>
        <clear />
        <add key="github" value="https://nuget.pkg.github.com/rebelware/index.json" />
    </packageSources>
    <packageSourceCredentials>
        <github>
            <add key="Username" value="rebelware" />  <!-- It's not really the username, it's the OWNER -->
            <add key="ClearTextPassword" value="XXXXXXXXX" /> <!-- A properly scoped User PAT.  -->
        </github>
    </packageSourceCredentials>
</configuration>